/* Here starts styles for our_story-section */


/* DEBUG
* { outline: solid 1px red; }
*/


/*********** General Styles Start ***********/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --yellow: #FFC000;
    --darkGrey: #212529;
    --middleGrey: #777;
    --lightGrey: #919191;

}

body {
  color: var(--darkGrey);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', Helvetica, sans-serif;
}

p {
  color: var(--middleGrey);
}


/* Here starts the codes for header */

/* Here ends the code for header */


/* Here starts the codes for food section */

/* Here ends the code for food section */


/* Here starts the codes for discover section */

/* Here ends the code for discover section */


/* Here starts the codes for footer */

/* Here ends the code for footer */
