/* Here starts styles for our_story-section */


/* DEBUG
* { outline: solid 1px red; }
*/


/*********** General Styles Start ***********/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap')



:root {
    --yellow: #FFC000;
    --darkGrey: #212529;
    --middleGrey: #777;
    --lightGrey: #919191;

}

body {
  color: var(--darkGrey);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satisfy', Helvetica, sans-serif;
}

p {
  color: var(--middleGrey);
}


/* Here starts the codes for header */

/* Here ends the code for header */


/* Here starts the codes for food section */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.col-3 {
  margin-top: 10px;
}

.carousel {
  margin-top: 100px;
  margin-bottom: 100px;
  /* width:640px;
  height:300px; */
}

.carousel-inner img {
  margin: auto;
  width: 450px;
  height: 600px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Satisfy", cursive;
  font-size: 56px;
  text-align: center;
  width: 75%;
  font-weight: bold;
}



/* Here ends the code for food section */


/* Here starts the codes for discover section */
.col-xl-12 {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
}

.col-xl-12 h3 {
  font-family: "Satisfy", cursive;
  font-size: 40px;
}

.btn {
  border-radius: 100px;
}

.btn:hover {
  background-color:burlywood;
  padding: 10px;
  cursor: pointer;
  border-color: burlywood;
}

.multi-collapse {
  margin-top: 30px;
}




/* Here ends the code for discover section */


/* Here starts the codes for footer */

/* Here ends the code for footer */
